@{
    ViewBag.Title = "Contact";
}
<h2>Контакт</h2>
<h3 style="color:lightcoral">BeautyBase</h3>

<address>
    <img style="height:30px;" src="https://media.istockphoto.com/vectors/emailmail-icon-outline-vector-vector-id938581860?k=20&m=938581860&s=170667a&w=0&h=bDc6ZwtgdDqaKe08eUGsA22XjtU5cypCnX2ByvwsshU=" />
    beautybase@gmail.com
    <br />
    <img style="height:30px;" src="https://www.iconbunny.com/icons/media/catalog/product/1/6/168.1-phone-icon-iconbunny.jpg" />
    +38970111111
    <br />
    <img src="https://media.istockphoto.com/vectors/map-pin-vector-glyph-icon-vector-id1193451471?k=20&m=1193451471&s=612x612&w=0&h=ve7JRaMvw6L1HBiDOTVwfbhHALPPH-nCMCgG0Z_z5NY=" style="height:30px;" />
    ул. Метрополит Теодосиј Гологанов, Скопје<br />
</address>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2965.124993028711!2d21.396136814948086!3d41.9975929659078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135415481886757b%3A0x4fd9db475b11b555!2sImpeksel%20Domino!5e0!3m2!1smk!2smk!4v1633020271882!5m2!1smk!2smk" width="600px" height="450px" style="border:0px;" allowfullscreen="" loading="lazy"></iframe>
<address>
   </address>
